@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: left;
    text-decoration: none;
  }

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

:root {
    --midnight-x: #023047; 
    --sunrise-x: #FA8400;
    --grey-pixel: #DFDFE4;
    font-size: 16px;
}

html {
    background-color: var(--midnight-x);
}

.follow-margin {
    margin: 6.25rem;
}

nav {
    height: 30.6875rem;
}

ul {
    list-style-type: none;
}

nav ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    gap: 4.25rem;
}

footer {
    height: 6.25rem;
    margin-top: 7.2rem;
    border-top: 0.1rem solid white;
    font-weight: normal;
}

.header {
    height: 9.5rem;
}

.logo {
    height: 2.5rem;
    margin-right: .83125rem;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
}

.carrer-btn {
    padding: 0.625rem 1.25rem;
    background-color: var(--sunrise-x);
    color: var(--midnight-x);
}

.carrer-btn:hover {
    background-color: #fa850094;
}

.games-items:hover {
    outline: .2rem solid var(--sunrise-x);
}

.main-image-games {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent-div-images-games {
    width: 100%;
}

.secundary-games-with-link {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-1 {
    grid-area: main-1;
}

.sec-1 {
    grid-area: sec-1;
}

.sec-2 {
    grid-area: sec-2;
}

.sec-3 {
    grid-area: sec-3;
}

.grid-area-games {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "main-1 main-1 main-1"
    "sec-1 sec-2 sec-3"
    ;
}

.gap-games {
    gap: 0.5vw;
}

.about-us-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.about-us-gap {
    gap: 2rem;
}

.title-margin {
    margin: 7rem 0 1rem 0;
}

.title-bottom-margin {
    margin-bottom: 1rem;
}

.tags-gap {
    gap: .5rem;
}

.tag {
    padding: 0.25rem .5rem;
    border: 0.1rem solid #DFDFE4;
    border-radius: .5rem;
    font-size: 1rem;
}

.carrer-link:visited {
    color: inherit;
}

.carrer-square {
    padding: 1.5rem;
    border: 0.2rem solid var(--grey-pixel);
}

.carrer-hovered {
    border-color: var(--sunrise-x);
}

.carrer-hovered .carrer-name {
    color: var(--sunrise-x);
}

.input-label {
    width: 30rem;
}

input {
    height: 3rem;
    border: .1rem solid #DFDFE4;
    background-color: transparent;
    padding: 0.1rem 0.5rem;
}

input:focus {
    outline: none;
    border-color: var(--sunrise-x);
    border-radius: none;
}

textarea {
    height: 8.5rem; 
    border: .1rem solid #DFDFE4;
    background-color: transparent;
    padding: 0.1rem 0.5rem;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: var(--sunrise-x);
    border-radius: none;
}

form button {
    width: 30rem;
    text-align: center;
    padding: 0.625rem 1.25rem;
    background-color: var(--sunrise-x);
    color: var(--midnight-x);
}

.modal-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    color: var(--midnight-x);
    background-color: var(--grey-pixel);
    width: 50rem;
    height: 20rem;
    padding: 2rem 5rem;
    text-align: center;
}

.main-post {
    display: flex;
    justify-content: space-between;
    max-height: 20rem;
    width: 100%;
}

.single-post-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.single-post {

    font-size: 1.5rem;
}

.single-blog-img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
}

#pt-parent p {
    margin-top: 2rem;
}

.width-50 {
    max-width: 50%;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.weight-700 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.white-font {
    color: #fff;
}

.grey-font {
    color: #DFDFE4;
}

.sunrise-font {
    color: var(--sunrise-x);
}

.twenty-pixels {
    font-size: 1.25rem;
}

.line-height {
    line-height: 2rem;
}

.no-decoration {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.fifty-fifty {
    width: 50%;
}

.cover-div {
    object-fit: cover;
}

.indent {
    text-indent: 2rem;
}

.grid {
    display: grid;
}

.grid-column-three-even {
    grid-template-columns: 1fr 1fr 1fr;
}

.smaller-gap{
    gap: .5rem;
}

.small-gap {
    gap: 1rem;
}

.medium-gap {
    gap: 2rem;
}

.smaller-margin-top {
    margin-top: .5rem;
}

.tiny-margin-top {
    margin-top: 1rem;
}

.small-margin-top {
    margin-top: 2rem;
}

.medium-margin-top {
    margin-top: 4rem;
}

.hover-color-sunrise:hover{
    color: var(--sunrise-x);
}